.py-4 {
  min-height: 80vh;
}
.card {
  min-height: 40vh;
}
.book_content {
  display: flex;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  .book_info {
    width: 100%;
    text-align: center;
    .book_name {
      font-size: 25px;
      font-weight: bold;
    }
  }
}

.button8 {
  display: inline-block;
  color: black;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
  margin-left: 12px;
}
.button8:hover { background: rgba(255,255,255,.2); }
.button8:active { background: white; }

.search {
  padding-left: 41px;
}
.search_input {
  border: 1px solid;
  border-radius: 1px;
}
.search_button {
  height: 27px;
  display: inline-block;
  color: black;
  font-weight: 400;
  text-decoration: none;
  user-select: none;
  background-color: white;
  outline: none;
  border: 1px solid;
  border-radius: 1px;
  transition: 0.2s;
  padding-top: 1.5px
}
.search_button:hover { background: rgba(255,255,255,.2); }
.search_button:active { background: gray; }

.admin_menu {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.footer {
  min-height: 100vh;
  width: 100%;
  bottom: 0;
  background: black;
  color: lightgrey;
  padding-top: 30px;
  .footer_title {
    padding-top: 30px;
    padding-left: 100px;
    width: 50%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    color: lightgrey;
    text-align: left;
  }
  .contact_number {
    display:flex;
    padding-left: 100px;
  }
  .footer_img {
    text-align: center;
  }
  .map {
    padding-top: 30px;
    padding-left: 150px;
  }
  .contacts {
    display: flex;
    flex-wrap: wrap;
    .contact_number {
      padding-top: 10px;
      font-size: 18px;
    }
    .phone_number {
      padding-left: 10px;
    }
  }
  .email {
    padding-top: 10px;
    display: flex;
    .email_icon {
      padding-left: 95px;
    }
    .email_address {
      padding-top: 2px;
    }
  }
  .rights {
    padding-top: 50px;
    text-align: center;
  }
  .social_network_icons {
    padding-top: 30px;
    padding-left: 100px;
    .fa {
      padding: 20px;
      font-size: 20px;
      text-align: center;
      text-decoration: none;
    }
    .fa:hover {
      opacity: 0.7;
    }
    .fa-facebook {
      background: #3B5998;
      color: white;
    }
    .fa-twitter {
      background: #55ACEE;
      color: white;
    }
    .fa-instagram {
      background: #125688;
      color: white;
    }
  }
}

/** User add admin menu page **/
.user_add_form_container {
  .label {
    text-align: left;
  }
}
.user_add_form {
  display: flex;
  flex-direction: column;
}
.add_user_button {
  text-align: center;
  padding-top: 20px;
}

/* Search user page */
.user_search {
  text-align: center;
}
.user {
  .name {
    font-size: 30px;
  }
  .email {
    font-size: 15px;
  }
  .registration_date {
    color: gray;
  }
}