.py-4 {
  min-height: 70vh;
}
.card {
  min-height: 40vh;
}
.book_content {
  display: flex;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  .book_info {
    width: 100%;
    text-align: center;
    .book_name {
      font-size: 25px;
      font-weight: bold;
    }
  }
}
footer {
  min-height: 100vh;
  bottom: 0;
  background: black;

  .footer {
    color: lightgrey;
    padding-top: 30px;
    text-align: center;
  }
}